:root{
    --bg-layout:white;
    --color-primary:#1f87c4;
    --color-text-logo: white;
    --bg-nav: #333333;
    --color-link: white;
    --color-shadow:#b7b4b4;
}

html{
    font-size: 10px;
}

body{
    background-image: url(../../assets/img/cielo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}

.layout{
    display: grid;
    grid-template-areas: 
    "header header"
    "slider slider"
    "main aside" 
    ;
    grid-template-columns: 70% 30%;
    max-width:  128rem;
    background-color: var(--bg-layout);
    padding: 3rem;
    margin: 2rem auto;
}

.layout__header{
    grid-area: header;
    margin-bottom: 2rem;
}
.header__logo{
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0,5rem 1,5rem;
    background-color: var(--color-primary);
}
.logo__text{
    color: var(--color-text-logo);
    font-size: 5rem;
}
.header__nav{
    width: 95%;
    height: 5rem;
    background-color: var(--bg-nav);
    padding:0 2rem;
}
.nav__list{
    list-style: none;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}
.list__link{
    height: 100%;
    color: var(--color-link);
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1rem;
    transition:  all 300ms linear;
}
.list__link:hover{
    background-color:  var(--color-primary);
}


.layout__slider{
    grid-area: slider;
    position: relative;
    width: 100%;
    height: 40rem;
    overflow: hidden;
    border: 5px solid var(--color-text-logo);
    box-shadow: 0px 0px 5px var(--color-shadow);
    margin-bottom: 4 rem;
}

.slider__btn-prev{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 1rem;
    top: calc(50% - 5rem);
    z-index:2;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--bg-nav) ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-link);
    font-size: 4rem;
}
.slider__btn-next{
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 1rem;
    top: calc(50% - 5rem);
    z-index:2;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    background-color: var(--bg-nav) ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-link);
    font-size: 4rem;
}
.slider__btn-next{
    left: auto;
    right: 1rem;
}







.layout__articles{
    grid-area: main;
}
.layout__aside{
    grid-area: aside;
}